.IngredientDetailsForm {
    /* max-width: 400px; */
    /* border: 1px solid black; */
    margin: 10px;
    padding: 10px
}

.IngredientDetailsData {
    margin-bottom: 30px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}